<!DOCTYPE html>
<html>
<head>
	<title>My first flask project!</title>
</head>
<body>

<h1>My First Template</h1>
<p>Hello 2.Ri! ♥</p>
{% if podatki['uspeh'] %}
<i>Uspešno sem se povezal na database.</i>
{% else %}
<i><b>Neuspešno</b> sem se povezal na database.</i>
{% endif %}

<img src="{{url_for('static', filename='logo.svg')}}" alt="my logo" width="300" height="300">

<form action="/" method="POST">
  <label for="visinaId">Višina (cm):</label><br>
  <input type="text" id="fname" name="visina" value="{{podatki['visina']}}"><br>
  <label for="tezaId">Teža (kg):</label><br>
  <input type="text" id="lname" name="teza" value="{{podatki['teza']}}"><br><br>
  <input type="submit" value="Izračunaj">
</form> 

{% if podatki['itm'] %}
<i>Vaš ITM = {{podatki['itm']}}</i>
{% endif %}

</body>
</html>